.ui-input-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
}

.ui-input-container--full {
    width: 100%;
}

.ui-input-label {
    font: var(--font-body);
    font-weight: 600;
    color: var(--theme-input-text);
}

.ui-input {
    font: var(--font-body);
    padding: var(--spacing-10) var(--spacing-15);
    border-radius: var(--radius-15);
    border: 2px solid var(--theme-input-border);
    background: transparent;
    color: var(--theme-input-text);
    outline: none;
    transition: all 0.2s;
    width: 100%;
}

.ui-input--filled {
    color: var(--theme-input-text-filled);
}

.ui-input--focus {
    box-shadow: 0 0 0 3px var(--theme-input-border)20;
}

.ui-input--error {
    border-color: #e74c3c;
}

.ui-input-error {
    font: var(--font-body);
    color: #e74c3c;
    margin-top: var(--spacing-5);
}