:root {
    --spacing-5: 5px;
    --spacing-10: 10px;
    --spacing-15: 15px;
    --spacing-20: 20px;
    --spacing-30: 30px;
    --radius-10: 10px;
    --radius-15: 15px;
    --radius-17: 17px;
    --radius-full: 1000px;
}