:root {
    --font-heading-large: 700 32px/40px var(--font-lilita-one), sans-serif;
    --font-heading-medium: 600 24px/32px var(--font-lilita-one), sans-serif;
    --font-body: 400 16px/24px var(--font-inter), sans-serif;
}